.welcome{
    margin-top:20px;
    font-size: 250%;
    font-family: 'Playfair Display', serif;
    color: white
}

.pour{
    margin-top:20px;
    margin-bottom: 20px;
    font-size: 250%;
    font-family: 'Playfair Display', serif;
    color: yellow
}

.background{
    background-color: black;
}

.submit-button{
    font-family: 'Playfair Display', serif;
    color: white !important;
}

.form-color{
    background-color: #D3D3D3 !important;
    color: black !important
}

.message-card{
    margin-top: 20px;
    font-family: 'Playfair Display', serif;
}