<!doctype html>
{% load static %}
<html lang="en">

    <body class="background">
        <head>
            
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
            <link rel="stylesheet" href="{% static 'tdd/style.css' %}">
            <link href="https://fonts.googleapis.com/css?family=Playfair+Display&display=swap" rel="stylesheet">
            <link rel="stylesheet" type="text/css" href="{% static 'tdd/css/bootstrap.min.css' %}">

        </head>

            {% block content %}{% endblock %}

            <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
            <script type="text/javascript" src="{% static 'tdd/js/bootstrap.min.js' %}"></script>
    
    </body>
	
</html>