{% extends "tdd/base.html" %}
{% load static %}

	{% block content %}
	<div class="container">

		<div class="col-sm text-center welcome">
			<h1>Hello, World!</h1>
		</div>

		<div class="col-sm pour">
			Pour your thoughts here!
		</div>

		<div>
			<form method="POST" action="">
				{% csrf_token %}
				<div class="input-group mb-3">
					<input type="text" class="form-control form-color" placeholder="What's on your mind..." aria-label="Recipient's username"
						aria-describedby="button-addon2" name="activity" maxlength="100" required id="id_activity">
					<div class="input-group-append">
						<button class="btn submit-button" type="submit" id="button-addon2">POST!</button>
					</div>
				</div>
			</form> 
		</div>

		<div class="row">
			{% for data in allmessage %}
			<div class="col-sm-6 col-md-auto message-card text-center">
			  	<div class="card">
					<div class="card-body">
						<h5 class="card-title">{{data.activity}}</h5>
						<p class="card-text">{{data.date}}</p>
					</div>
				</div>
			</div>
		{% endfor %}
		</div>

	</div>

{% endblock %}